doctype html
html(lang="en")
	head
		title Base Files | Fabián Veliz
		meta(charset="utf-8")
		meta(content="IE=edge,chrome=1",http-equiv="X-UA-Compatible")
		meta(name="viewport",content="width=device-width")
		
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400|Raleway:400,300,200,600',rel='stylesheet',type='text/css')
		link(href='stylesheet/all.css',rel='stylesheet',type='text/css')
		script(src="http://code.jquery.com/jquery-2.1.0.min.js")

	body
		include header
		include mainContent
		include footer
		script(src="js/all.js")  


